<!-- Tüm türlerin sayfası -->

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/card.css') }}">
{% endblock %}

{% block title %}Türler{% endblock %}

{% block body %}
<div class="container">
    <div class="row p-5">
        {% for i in range(genres|length) %}
            <div class="col-12 col-md-3 mt-5">
                <div class="card" style="background-color: {{ colors[i] }}">
                    <div class="content">
                        <h2 class="title">{{ genres[i] }}</h2>
                        <form action="/movie/genres/{{ genres[i] }}">
                            <button class="btn-card" type="submit">{{ genres[i] }}</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>





{% endblock %}